.square-select-container {
  display: grid;
  gap: 0.25em;
  grid-auto-flow: column;
  grid-template-columns: 1fr auto auto;

  > button {
    padding: 0.5em;

    &:disabled {
      &:hover {
        border-color: rgba(0, 0, 0, 0);
      }

      > svg {
        filter: brightness(50%);
      }
    }

    > svg {
      height: 16px;
      width: 16px;
      fill: white;

      @media (prefers-color-scheme: light) {
        fill: black;
      }
    }
  }
}
